In [1]:
import lifetimes
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from lifetimes import BetaGeoFitter # BG/NBD
from lifetimes import GammaGammaFitter # Gamma-Gamma Model
from lifetimes.plotting import plot_frequency_recency_matrix

pd.set_option('display.max_columns', None)

In [2]:
df_base = pd.read_csv('Online_Retail.csv')

In [3]:
df = df_base.copy()

# Data Inspection

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495478 entries, 0 to 495477
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    495478 non-null  object
 1   StockCode    495478 non-null  object
 2   Description  494024 non-null  object
 3   Quantity     495478 non-null  int64
 4   InvoiceDate  495478 non-null  object
 5   UnitPrice    495478 non-null  float64
 6   CustomerID   361878 non-null  float64
 7   Country      495478 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 30.2+ MB

In [6]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  495478.000000  495478.000000  361878.000000
mean        8.605486       4.532422   15547.871368
std       227.588756      99.315438    1594.402590
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   14194.000000
50%         3.000000       2.100000   15514.000000
75%        10.000000       4.130000   16931.000000
max     80995.000000   38970.000000   18287.000000

There seem to be extreme values in Quantity & Unit Price on both ends (negative & positive)

# Data Wrangling

In [7]:
df = df.query('Quantity > 0')
df = df.query('UnitPrice > 0')

In [8]:
df = df[~df['InvoiceNo'].str.contains('C', na = False)]

In [9]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     130802
Country             0
dtype: int64

In [10]:
df.dropna(inplace = True)

In [11]:
# Define a function to handle outliers in our data

def find_boundaries(df, variable, q1 = 0.05, q2 = 0.95):
    # boundaries represent quartiles
    
    lower_boundary = df[variable].quantile(q1)
    upper_boundary = df[variable].quantile(q2)
    
    return lower_boundary, upper_boundary
    
def capping_outliers(df, variable):
    
    lower_boundary, upper_boundary = find_boundaries(df, variable)
    df[variable] = np.where(df[variable] > upper_boundary, upper_boundary, np.where(df[variable] < lower_boundary, lower_boundary, df[variable]))

In [12]:
capping_outliers(df, 'UnitPrice')

In [13]:
capping_outliers(df, 'Quantity')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354321 entries, 0 to 495477
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    354321 non-null  object
 1   StockCode    354321 non-null  object
 2   Description  354321 non-null  object
 3   Quantity     354321 non-null  float64
 4   InvoiceDate  354321 non-null  object
 5   UnitPrice    354321 non-null  float64
 6   CustomerID   354321 non-null  float64
 7   Country      354321 non-null  object
dtypes: float64(3), object(5)
memory usage: 24.3+ MB

In [15]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  354321.000000  354321.000000  354321.000000
mean        8.348212       2.651029   15552.486392
std         9.245021       2.248187    1594.527150
min         1.000000       0.420000   12346.000000
25%         2.000000       1.250000   14194.000000
50%         4.000000       1.950000   15522.000000
75%        12.000000       3.750000   16931.000000
max        36.000000       8.500000   18287.000000

In [16]:
df['Total Price'] = df.Quantity * df.UnitPrice

In [31]:
clv = lifetimes.utils.summary_data_from_transaction_data(df,'CustomerID', 'InvoiceDate', 'Total Price', observation_period_end = '2011-12-09')

In [32]:
clv.query('frequency > 1', inplace = True)

# Data Analysis

### Frequency/Recency Analysis using BG/NBD Model
Using BetaGeoFitter, we can implement a BG/NBD model to our data and predict each customer's number of purchases

In [33]:
bgf = BetaGeoFitter(penalizer_coef = 0.001)
bgf.fit(clv['frequency'], clv['recency'], clv['T'])

In [34]:
t = 180 #30 day period
clv['expected_purc_6_months'] = bgf.conditional_expected_number_of_purchases_up_to_time(t, clv['frequency'], clv['recency'], clv['T'])
clv.sort_values(by='expected_purc_6_months',ascending=False).head(5)

            frequency  recency      T  monetary_value  expected_purc_6_months
CustomerID
12748.0         112.0    373.0  373.0      257.314911               42.444401
17841.0         111.0    372.0  373.0      349.079640               42.073324
15311.0          89.0    373.0  373.0      421.881573               33.909635
14606.0          88.0    372.0  373.0      125.302955               33.538559
12971.0          70.0    369.0  372.0      132.197571               26.914663

### Gamma-Gamma Model
We can figure out then use the monetary value with Gamma-Gamma model with the expected # of purchases to predict customer LTV (or CLV). The model will predict the most likely value for each transaction.

In order to use the Gamma-Gamma model, we need to make sure that there is no correlation between frequency and monetary value.

In [35]:
clv[['frequency', 'monetary_value']].corr()

                frequency  monetary_value
frequency        1.000000        0.082631
monetary_value   0.082631        1.000000

In [36]:
ggf = GammaGammaFitter(penalizer_coef = 0.01)
ggf.fit(clv["frequency"], clv["monetary_value"])

### Putting it together (BG/NBD + GGM)

In [37]:
clv['6_months_clv']=ggf.customer_lifetime_value(bgf,
                                   clv["frequency"],
                                   clv["recency"],
                                   clv["T"],
                                   clv["monetary_value"],
                                   time=6,
                                   freq='D',
                                   discount_rate=0.01)
clv.sort_values('6_months_clv',ascending=False).head()

,frequency,recency,T,monetary_value,expected_purc_6_months,6_months_clv
CustomerID,,,,,,
14096.0,16.0,97.0,101.0,3012.454375,15.528400,45677.610915
18102.0,25.0,367.0,367.0,2112.843200,10.287978,21142.592872
13089.0,65.0,367.0,369.0,784.818308,25.211693,19164.137958
17511.0,27.0,371.0,373.0,1798.113704,10.902877,19058.975876
14088.0,11.0,312.0,322.0,3352.988182,5.549070,18258.492844

Now we can see each customer's CLV for the next 6 months. We can also segment users based on their 6 month CLV.

In [39]:
clv['Segment'] =  pd.qcut(clv['6_months_clv'], 4, labels = ['Hibernating', 'Need Attention', 'Loyal Customers', 'Champions'])

In [42]:
clv.groupby('Segment').mean()

,frequency,recency,T,monetary_value,expected_purc_6_months,6_months_clv
Segment,,,,,,
Hibernating,3.174713,221.337931,292.245977,147.152900,2.553847,364.667903
Need Attention,4.027650,240.140553,284.440092,265.378345,2.989161,745.573232
Loyal Customers,5.592166,242.944700,276.027650,365.362234,3.759721,1234.753807
Champions,11.108046,261.354023,280.475862,584.771128,5.994943,3095.935737

### Using the CLV and segmentation, we can do may things including:
* Perform Cohort Analysis
* Create marketing plan, intervention plan for low segment users
* Focus acquisition efforts towards high segment users to decrease acquisition & retention costs